<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ForexConnectAPI/src/com/supertrade/dkmonster/getAllOffers.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.supertrade.dkmonster.getAllOffers"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="D172574180001 7384 http://www.fxcorporate.com/Hosts.jsp Demo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ForexConnectAPI"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.library.path=.;./java"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:ForexConnectAPI/WebContent/WEB-INF/bin}"/>
</launchConfiguration>
